@using ThreatModellingGame.Web.Resources
@model ThreatModellingGame.Web.ViewModels.PlayerViewModel

@{
    ViewBag.Title = Model.Name;
}

<h2>@AllText.Hi @Model.Name!</h2>

<h3>@AllText.Your_Details</h3>
<p>
    @Html.ActionLink(AllText.Change_Username_Link, "ChangeName", "Player")
</p>

<h3>@AllText.Games_Currently_Playing</h3>
@if (Model.Games == null || !Model.Games.Any())
{
    <p>@AllText.Not_Playing_Any_Games</p>
}
else
{
    foreach (var game in Model.Games)
    {
        <ul>
            <li>@Html.ActionLink(game.Name, "Index", "Game", new { id = game.Id }, null)</li>
        </ul>
    }
}

<p>
    @Html.ActionLink(AllText.Create_New_Game, "CreateGame", "Game", null, new { @class = "btn btn-lg btn-success" })
</p>