@using ThreatModellingGame.Web.Resources
@model ThreatModellingGame.Web.ViewModels.ChangePlayerNameViewModel

@{
    ViewBag.Title = AllText.Register;
}

@using (Html.BeginForm("Register", "Player", new { ReturnUrl = ViewBag.ReturnUrl }))
{
    <h2>@AllText.Register_Title</h2>
    <p>@AllText.Register_Info</p>

    @Html.LabelFor(m => m.Name)
    @Html.EditorFor(m => m.Name)

    @Html.AntiForgeryToken()

    <input type="submit" value="@AllText.Get_Started" />
    
    @Html.ValidationSummary()
}