@using ThreatModellingGame.Web.Resources
@model ThreatModellingGame.Web.ViewModels.IndexViewModel

@{
    ViewBag.Title = "Home";
}

<h2>@AllText.Home_Index_Welcome</h2>
<p>@AllText.Home_Index_Intro @(string.Format("{0} - {1}", AllText.App_Title, AllText.App_SubTitle)).</p>
<p>@AllText.Home_Index_GitHub_Reference <a href="https://github.com/dustinmoris/ThreatModellingGame">open source GitHub repository</a>.</p>
<p>
    @Html.ActionLink(AllText.Start_Playing, "Details", "Player", null, new { @class = "btn-start-game btn btn-lg btn-success" })
</p>