@using ThreatModellingGame.Web.Resources
@model ThreatModellingGame.Web.ViewModels.NewGameViewModel

@{
    ViewBag.Title = AllText.New_Game;
}

@using (Html.BeginForm("CreateGame", "Game"))
{
    <h2>@AllText.New_Game</h2>
    <p>@AllText.New_Game_Info</p>

    @Html.LabelFor(m => m.Name)
    @Html.EditorFor(m => m.Name)

    @Html.AntiForgeryToken()
    
    <input type="submit" value="@AllText.Create_New_Game" />
    @Html.ActionLink(AllText.Cancel, "Details", "Player", null, new { @class = "btn btn-danger" })
    
    @Html.ValidationSummary()
}