@using ThreatModellingGame.Core.Extensions
@using ThreatModellingGame.Web.Resources

@model ThreatModellingGame.Web.ViewModels.GameViewModel

@{
    ViewBag.Title = Model.Game.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="game">

    @{ var someText = "some text"; }

    <p>@($"This is {someText}.")</p>




    <h1>@($"{AllText.App_Title} - {AllText.App_SubTitle}")</h1>

    <div class="container-fluid">
        <div class="row">
            <div class="container-fluid col-md-8 hand">
                @foreach (var card in Model.PlayerHand)
                {
                    <div class="card @card.Suit.ToString().ToLower()">
                        <strong>@card.Suit.ToFriendlyString() (@card.Id)</strong>
                        <p>@card.Description</p>
                    </div>
                }
            </div>
            <div class="col-md-4">
                <h1>@(AllText.Game): @Model.Game.Name</h1>
                <h3>@AllText.URL</h3>
                @{
                    var gameUrl = Url.Action("Index", "Game", new { id = Model.Game.Id}, "http");
                }
                <p><a href="@gameUrl">@gameUrl</a></p>
                <p class="bg-info">
                    @AllText.URL_Share_Info
                </p>

                <h3>@AllText.Players</h3>
                <ul>
                    @foreach (var player in Model.Game.GetPlayers())
                    {
                        <li>@player.Name</li>
                    }
                </ul>

                <h3>@AllText.Help</h3>
                <ul>
                    <li>@Html.ActionLink(AllText.About, "About", "Home")</li>
                    <li><a href="http://en.wikipedia.org/wiki/STRIDE_(security)">STRIDE</a></li>
                    <li><a href="https://en.wikipedia.org/wiki/DREAD:_Risk_assessment_model">DREAD</a></li>
                    <li><a href="https://www.owasp.org/index.php/Category:OWASP_Top_Ten_Project">OWASP Top 10</a></li>
                </ul>

                <h3>@AllText.Credits</h3>
                <p>
                    @(AllText.Game_Invented_By_Microsoft).<br />
                    @AllText.Powered_By <a href="http://dusted.codes/">Dustin Moris Gorski</a>.
                </p>
        </div>
    </div>
</div>
</div>