@using ThreatModellingGame.Web.Resources
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="header clearfix">
        @*<nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="#">Home</a></li>
                    <li role="presentation"><a href="#">About</a></li>
                    <li role="presentation"><a href="#">Contact</a></li>
                </ul>
            </nav>*@
        <h1>
            @AllText.App_Title<br />
            @AllText.App_SubTitle
        </h1>
    </div>
    <div class="row main">
        @RenderBody()
    </div>
    <footer class="footer">
        <p>@AllText.Game_Invented_By_Microsoft | @AllText.Powered_By <a href="http://dusted.codes/">Dustin Moris Gorski</a></p>
    </footer>

</div>