@using ThreatModellingGame.Web.Resources
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="header clearfix">
        <nav>
            <ul class="nav nav-pills pull-right">
                <li role="presentation">@Html.ActionLink(AllText.Home, "Index", "Home")</li>
                <li role="presentation">@Html.ActionLink(AllText.About, "About", "Home")</li>
            </ul>
        </nav>
        <h1>
            @AllText.App_Title<br />
            @AllText.App_SubTitle
        </h1>
    </div>
    <div class="row main">
        @RenderBody()
    </div>
    <footer class="footer">
        <p>@AllText.Game_Invented_By_Microsoft | @AllText.Powered_By <a href="http://dusted.codes/">Dustin Moris Gorski</a></p>
    </footer>

</div>